.dashboard-container {
    flex: 1;
    margin: 0%;
    background-color: rgba(185, 182, 182, 0.884);
}

.dashboard-header {
    flex: 1;
    margin: 0;
    background-color: rgb(59, 6, 252);
}

.dashboard-footer {
    flex: 1;
    background-color: rgb(12, 236, 87);
}